<?xml version='1.0' encoding='utf-8'?>
<widget id="com.floxtor.killbillsplitter" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kill Bill Splitter</name>
    <description>
        Kill Bill Splitter
    </description>
    <author email="alvarotorres@gmail.com" href="http://phonegap.com">
        Alvaro Torres F.
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <access origin="*" />
    <platform name="android">
        <icon src="www/res/icon/android/hdpi.png" platform="android" qualifier="hdpi" />
        <icon src="www/res/icon/android/mdpi.png" platform="android" qualifier="mdpi" />
        <icon src="www/res/icon/android/xhdpi.png" platform="android" qualifier="xhdpi" />
        <icon src="www/res/icon/android/xxhdpi.png" platform="android" qualifier="xxxhdpi" />
        <icon src="www/res/icon/android/xxxhdpi.png" platform="android" qualifier="xxhdpi" />
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="26" />
    </platform>
</widget>
