<?xml version='1.0' encoding='utf-8'?>
<widget id="com.floxtor.killbillsplitter" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kill Bill Splitter</name>
    <description>
        Kill Bill Splitter
    </description>
    <author email="aquarotorres@gmail.com" href="http://phonegap.com">
        Alvaro Torres F.
    </author>
    <content src="index.html" />
    <icon src="icons/res/mipmap-hdpi/ic_launcher.png" platform="android" qualifier="hdpi" />
    <icon src="icons/res/mipmap-mdpi/ic_launcher.png" platform="android" qualifier="mdpi" />
    <icon src="icons/res/mipmap-xhdpi/ic_launcher.png" platform="android" qualifier="xhdpi" />
    <icon src="icons/res/mipmap-xhdpi/ic_launcher.png" platform="android" qualifier="xxhdpi" />
    <icon src="icons/res/mipmap-xxxhdpi/ic_launcher.png" platform="android" qualifier="xxxhdpi" />
    <access origin="*" />
</widget>
