<?xml version='1.0' encoding='utf-8'?>
<widget id="com.floxtor.killbillsplitter" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kill Bill Splitter</name>
    <description>
        Kill Bill Splitter
    </description>
    <author email="alvarotorres@gmail.com" href="http://phonegap.com">
        Alvaro Torres F.
    </author>
    <content src="index.html" />
    <icon src="icons/bill.png" width="57" height="57" density="mdpi" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="26" />
    </platform>
</widget>
