<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Easy Split Bill</title>
        <style media="screen">
            body {
                background-color: pink;
            }
            #peoples {
                border: 1px solid #ccc;
            }
            .people {
                display: inline-block;
                width:40px;
                height:40px;
                border: 1px solid grey;
            }
            .input {
                height: 30px;
            }
            input[type='checkbox'] {
                width:20px;
                height:20px;
            }
            #input_ct {
                width: 30px;
            }
            #input_product {
                width: 200px;
            }
            #input_valor {
                width: 70px;
            }
            .button {
                width: 40px; height: 40px;
            }
            .text-right {
                text-align: right;
            }
            .text-center {
                text-align: center;
            }
            .nombre {
                font-style: italic;
                color: grey;
            }
            table {
                 width:100%;
                 border-collapse: collapse;
            }
        </style>

    </head>
    <body>
        <div id="app">
        <center><h2>Easy Split Bill</h2></center>

        <table>
            <tr>
                <td>Ct</td>
                <td>Product</td>
                <td>Valor</td>
                <td></td>
            </tr>
            <tr>
                <td><input class="input" id="input_ct" type="number" v-model="cantidad" ></td>
                <td><input class="input" id="input_product" type="text" v-model="product" ></td>
                <td><input class="input" id="input_valor" type="number" v-model="valor" ></td>
                <td>
                    <button type="button" class="button" name="button" v-on:click="addProduct">
                        <img src="icons/add.png" width="25" alt="">
                    </button>
                </td>
            </tr>
        </table>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Producto</th>
                    <th class="text-right">Valor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product,indexProduct) in products" style="border: 1px solid black;">
                    <td>
                        <button type="button" class="button" @click="deleteProduct(indexProduct)">
                            <img src="icons/Trash.png" width="25" alt="">
                        </button>
                    </td>
                    <td>{{ product.product }}</td>
                    <td>
                        <li v-for="(person,indexPerson) in persons">
                            <input type="checkbox" :id="person"
                             v-model="persons[indexPerson].products" @change="handleChange()" :value="indexProduct">{{ person.name }}
                        </li>
                    </td>
                    <td class="text-right"> {{ parseInt(product.valor).toLocaleString() }}</td>
                </tr>

                <tfooter>
                    <tr><th colspan="5" class="text-right">Sub Total: {{subtotal.toLocaleString()}}</th></tr>
                    <tr><th colspan="5" class="text-right">Propina 10%: {{propina.toLocaleString()}}</th></tr>
                    <tr><th colspan="5" class="text-right">Total: {{total.toLocaleString()}}</th></tr>
                </tfooter>
            </tbody>
        </table>

        <hr>

        <img src="icons/contact.png" width="30" alt=""> <input class="input" type="text" v-model="person" >
        <button class="button" v-on:click="addPerson"><img src="icons/add.png" width="25" alt=""></button>

        <ul>
            <li v-for="(person,index) in persons">
                <button type="button" class="button" @click="deletePerson(index)">
                    <img src="icons/Trash.png" width="25" alt="">
                </button>
                {{ person.name }} : {{person.subtotal.toLocaleString()}} +
                                    {{(person.subtotal * 0.1).toLocaleString()}} =
                                    {{(person.subtotal + person.subtotal * 0.1).toLocaleString()}}
                <ul>
                    <li v-for="product in person.products">
                        {{products[product].product}} :
                        {{(products[product].valor / products[product].division).toLocaleString()}}</li>
                </ul>
            </li>
        </ul>


        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script src="js/vue.min.js"></script>
        <script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    products: [
                        {'product':'Pitcher','valor':'12000','division':0},
                        {'product':'Pizza','valor':'9000','division':0},
                        {'product':'Mojito','valor':'8000','division':0}
                    ],
                    person: '',
                    product: '',
                    cantidad: '',
                    valor: '',
                    subtotal: 0,
                    propina: 0,
                    total: 0,
                    persons: [
                        {
                            "name": "Alvaro",
                            "products": [],
                            "subtotal": 0,
                        },
                        {
                            "name": "Daniela",
                            "products": [],
                            "subtotal": 0,
                        },
                        {
                            "name": "Angelina",
                            "products": [],
                            "subtotal": 0,
                        },
                    ]
                },
                created: function () {
                    this.sumProducts();

                },
                methods: {
                    addPerson: function() {
                        this.persons.push({"name": this.person, "products": [],"subtotal": 0});
                        this.person = '';
                    },
                    addProduct: function() {
                        for (i = 0; i < this.cantidad ; i++) {
                            var valorUnitario = parseInt(this.valor) / parseInt(this.cantidad);
                            this.products.push({'product': this.product, 'valor': valorUnitario})
                        }
                        this.sumProducts();
                    },
                    deleteProduct: function(index) {
                        this.products.splice(index,1);
                        this.sumProducts();
                    },
                    deletePerson: function(index) {
                        this.persons.splice(index,1);
                        this.handleChange();
                    },
                    sumProducts: function() {
                        this.subtotal = 0;
                        for (i = 0; i < this.products.length; i++){
                            this.subtotal = parseInt(this.subtotal) + parseInt(this.products[i].valor);
                        }
                        this.propina = this.subtotal * 0.1;
                        this.total   = this.propina + this.subtotal;

                    },
                    handleChange: function() {
                        for(i = 0; i < this.products.length; i++) {
                            this.products[i].division = 0;
                        }
                        for(i = 0; i < this.persons.length; i++) {
                            for(j = 0 ; j < this.persons[i].products.length; j++){
                                this.products[this.persons[i].products[j]].division +=1;;
                            }
                        }
                        this.recalcularTotales();
                    },
                    recalcularTotales: function() {
                        for(i= 0; i < this.persons.length; i++) {
                            this.persons[i].subtotal = 0;
                            for(j=0; j < this.persons[i].products.length; j++){
                                this.persons[i].subtotal += this.products[this.persons[i].products[j]].valor / this.products[this.persons[i].products[j]].division;
                            }
                        }
                    }
                }
            })
        </script>
    </body>
</html>
